name: Cleanup root data files

on:
  workflow_dispatch: {}  # manual trigger from GitHub UI

jobs:
  cleanup-root:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
            node-version: "20"

      - name: Run cleanup script
        run: node scripts/cleanup-root_files.js

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          # If nothing changed, stop
          if git diff --quiet; then
            echo "No changes to commit."
            exit 0
          fi

          git add .
          git commit -m "chore: cleanup root data files"
          git push
